@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?igfy1v');
  src:  url('fonts/icomoon.eot?igfy1v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?igfy1v') format('truetype'),
    url('fonts/icomoon.woff?igfy1v') format('woff'),
    url('fonts/icomoon.svg?igfy1v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
    font-size: 2rem;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-atom:before {
  content: "\e900";
  color: #66595c;
}
.icon-behance:before {
  content: "\e901";
  color: #1769ff;
}
.icon-bitbucket:before {
  content: "\e902";
  color: #0052cc;
}
.icon-bootstrap:before {
  content: "\e903";
  color: #563d7c;
}
.icon-codepen:before {
  content: "\e904";
}
.icon-confluence:before {
  content: "\e905";
}
.icon-css3:before {
  content: "\e906";
  color: #1572b6;
}
.icon-dev-to:before {
  content: "\e907";
}
.icon-deviantart:before {
  content: "\e908";
  color: #05cc47;
}
.icon-dropbox:before {
  content: "\e909";
  color: #0061ff;
}
.icon-electron:before {
  content: "\e90a";
  color: #47848f;
}
.icon-evernote:before {
  content: "\e90b";
  color: #00a82d;
}
.icon-facebook:before {
  content: "\e90c";
  color: #4172b8;
}
.icon-filezilla:before {
  content: "\e90d";
  color: #bf0000;
}
.icon-git:before {
  content: "\e90e";
  color: #f05032;
}
.icon-github:before {
  content: "\e90f";
}
.icon-gmail:before {
  content: "\e910";
  color: #d14836;
}
.icon-gravatar:before {
  content: "\e911";
  color: #1e8cbe;
}
.icon-html5:before {
  content: "\e912";
  color: #e34f26;
}
.icon-joomla:before {
  content: "\e913";
  color: #5091cd;
}
.icon-jquery:before {
  content: "\e914";
  color: #0769ad;
}
.icon-laravel:before {
  content: "\e915";
  color: #e74430;
}
.icon-linkedin:before {
  content: "\e916";
  color: #0077b5;
}
.icon-messenger:before {
  content: "\e918";
  color: #00b2ff;
}
.icon-mysql:before {
  content: "\e919";
  color: #4479a1;
}
.icon-node-js:before {
  content: "\e91a";
  color: #393;
}
.icon-ok:before {
  content: "\e91b";
  color: #f4731c;
}
.icon-paypal:before {
  content: "\e91c";
  color: #00457c;
}
.icon-pinterest:before {
  content: "\e91d";
  color: #bd081c;
}
.icon-python:before {
  content: "\e91e";
  color: #3776ab;
}
.icon-redhat:before {
  content: "\e91f";
  color: #e00;
}
.icon-redux:before {
  content: "\e920";
  color: #764abc;
}
.icon-sass:before {
  content: "\e921";
  color: #c69;
}
.icon-skype:before {
  content: "\e922";
  color: #00aff0;
}
.icon-stackoverflow:before {
  content: "\e923";
  color: #fe7a16;
}
.icon-stackshare:before {
  content: "\e924";
  color: #0690fa;
}
.icon-steam:before {
  content: "\e925";
}
.icon-sublimetext:before {
  content: "\e926";
}
.icon-superuser:before {
  content: "\e927";
  color: #2eace3;
}
.icon-teamviewer:before {
  content: "\e928";
  color: #0e8ee9;
}
.icon-telegram:before {
  content: "\e929";
  color: #2ca5e0;
}
.icon-toggl:before {
  content: "\e92a";
  color: #e01b22;
}
.icon-treehouse:before {
  content: "\e92b";
  color: #5fcf80;
}
.icon-trello:before {
  content: "\e92c";
  color: #0079bf;
}
.icon-trulia:before {
  content: "\e92d";
  color: #53b50a;
}
.icon-tumblr:before {
  content: "\e92e";
  color: #36465d;
}
.icon-twitter:before {
  content: "\e92f";
  color: #1da1f2;
}
.icon-unity:before {
  content: "\e930";
}
.icon-viber:before {
  content: "\e931";
  color: #665cac;
}
.icon-vim:before {
  content: "\e932";
  color: #019733;
}
.icon-vs-code:before {
  content: "\e933";
  color: #007acc;
}
.icon-vk:before {
  content: "\e934";
  color: #6383a8;
}
.icon-vue-js:before {
  content: "\e935";
  color: #4fc08d;
}
.icon-wordpress:before {
  content: "\e936";
  color: #21759b;
}
.icon-xbox:before {
  content: "\e937";
  color: #107c10;
}
.icon-xing:before {
  content: "\e938";
  color: #006567;
}
.icon-youtube:before {
  content: "\e939";
  color: #f00;
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-location:before {
  content: "\e948";
}
.icon-user:before {
  content: "\e971";
}
.icon-mail:before {
  content: "\ea84";
}
.icon-mail-inv:before {
  content: "\ea85";
}
.icon-fb:before {
  content: "\ea90";
}
.icon-fb-rect:before {
  content: "\ea91";
}
.icon-vk-rect:before {
  content: "\ea98";
}
.icon-dropbox-blk:before {
  content: "\eaae";
}
.icon-github-o:before {
  content: "\eab0";
}
.icon-trello-blk:before {
  content: "\eab3";
}
.icon-skype-blk:before {
  content: "\eac5";
}
.icon-linkedin-rect:before {
  content: "\eac9";
}
.icon-linkedin-blk:before {
  content: "\eaca";
}
.icon-pinterest-o:before {
  content: "\ead1";
}
.icon-pinterest-blk:before {
  content: "\ead2";
}
.icon-paypal-blk:before {
  content: "\ead8";
}
.icon-git-blk:before {
  content: "\eae7";
}
.icon-codepen-blk:before {
  content: "\eae8";
}
