* {
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    margin: 0;
    padding: 0;
    background-image: url("../images/background5.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}