@import url(../icomoon/style.css);

:root {
    --pressed: #000;
    --dented: #1c0122;
    --shadow: #2224;
    --invert: #333;
    --rebecca: #623193;
    --color: initial;
    --accent-color: #fff;
    --light: #fff;
    --light-grey: #ccc;
    --link: #007bff;
    --hover: #3bcaa9;
    --navbar: rgb(80, 20, 77); /* #50144d */
    /* Social Media 
    ---------------------*/
    --facebook: #3b5999;
    --linkedin: #0077B5;
    --github: #fff;
    --codepen: #2a2a2a;
    --gmail: #a7362a;
    --paypal: #3b7bbf;
    /* 
        vals 
    ---------------------*/
    --yep: auto;
    --no: none;
    --val: var(--val);
    /* same as : initial; */
    --arg: var(--arg);
    /* same as : initial; */
    --argX: var(--arg);
    --argY: var(--arg);
    --align: var(--alugn);
    /* same as : initial; */
    --alignX: var(--align);
    --alignY: var(--align);
    /* Base Size */
    --device-width: 100vw;
    --full-width: 100%;
    --wide: calc(- var(--val)) !important;
    --size: 20px;
    --sizeX: var(--size);
    --sizeY: var(--size);
    --radius: 8px;
    --radi-all: var(--radius);
    --radi-left: 5px 0 0 5px;
    --radi-right: var(--bdr-radius);
    --bdr-radius: 0 5px 5px 0;
    /* for callouts */
    /* styling variables */
    --style: solid #666;
    /* Action */
    --moveX: var(--arg);
    --moveY: var(--arg);
    /* 
        Other Measures and Units 
    ------------------------------*/
    --gap: 10px;
    /* same as gutter */
    --inner: 20px;
    /* padding */
    --outer: 15px;
    /* margin */
    /* Positioning */
    --absl: absolute;
    --relt: relative;
    --stky: sticky;
    --stat: static;
    --fxd: fixed;
    /* 
        Background image (Parallax)
    --------------------------------------------*/
    --position: center center/cover no-repeat;
    --img: var(--position);
    --parallax: center center/cover no-repeat fixed;
    /*    --img-path: url('../../images/img.jpg'); */
    /* e.g. */
    --main-bg: url("../images/background5.jpg");
    --img-path1: url("../images/krave.png");
    --img-path2: url("../images/krave.png");
    --img-path3: url("../images/krave.png");
}

* {
    box-sizing: border-box;
}

.device-width {
    width: var(--device-width);
}

.full-width {
    width: var(--full-width);
}

.wide {
    margin: 0 var(--wide);
}

/*
    Current Code
==========================*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;
    line-height: 34px;
    --color: #777777;
    margin: 0;
    padding: 0;
    background-image: var(--main-bg);
    background-size: cover;
    background-repeat: no-repeat;
}

.page {
    max-width: 960px;
}

.centered {
    margin: 0 auto;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.masthead {
    background-color: var(--navbar);
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 10px;
    box-shadow: 0 5px 15px #8888;
    z-index: 1;
}

#logo {
    /* background: #4aaaa5; */
    color: var(--accent-color);
    /* border-bottom: 1px solid #777777; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    width: 200px;
    height: 80px;
    text-align: center;
    line-height: 20px;
    margin: 0 auto;
    float: left;
    padding: 10px 0;
}

a#logo {
    text-decoration: underline !important;
}

.navbar-collapse {
    margin-left: 425px;
}

nav {
    float: right;
}

a {
    color: var(--link);
    text-decoration: none !important;
}

a:hover {
    color: var(--hover);
}

nav li a {
    color: var(--light-grey);
    display: inline-block;
    /*    margin-right: 50px;*/
    margin: -5px auto 0;
    padding: 10px;
    line-height: 20px;
}

nav li a:hover .icon-fb-rect {
    color: var(--facebook);
}

nav li a:hover .icon-linkedin-rect {
    color: var(--linkedin);
}

nav li a:hover .icon-github {
    color: var(--github);
}

nav li a:hover .icon-codepen {
    color: var(--light);
}

nav li a:hover .icon-mail {
    color: var(--gmail);
}

nav li a:hover .icon-paypal-blk {
    color: var(--paypal);
}

.main-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    /* margin-left: 300px; */
    margin-top: 70px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: transparent !important;
}

hr {
    height: 1.3px;
    border-radius: 5px;
    color: var(--light);
    border-bottom: 1px solid rgb(141, 140, 140);
    background: rgb(141, 140, 140);
    box-shadow: 1px 1px 5px 1px rgb(201, 99, 116);
    margin-top: -10px;
}

h1,
h2,
.text {
    color: var(--light);
    font-size: 1.2em !important;
    padding: 10px;
}

h1,
h2,
span,
.text {
    color: var(--light);
    text-shadow: -1.5px -1.5px 1px var(--pressed);
}

.title {
    color: var(--light);
    font-size: 1em !important;
    text-shadow: -1.5px -1.5px 1px var(--pressed);
    margin-bottom: calc(var(--outer) * 1.5);
}

.title span {
    float: right;
    font-style: italic;
    font-size: 1.2em;
    line-height: 15px;
    text-decoration: overline;
}

.no-list {
    list-style-type: var(--no);
}

.inline-block li {
    display: inline-block;
    margin-right: var(--gap);

}

.fitted {
    margin-left: -5px !important;
    margin-right: 0 !important;
}

a .block {
    color: var(--light);
    border: 1px var(--style);
    height: 170px;
    position: relative;
    top: var(--gap);
}

.block {
    background-color: var(--rebecca);
    border-radius: var(--radi-all);
    opacity: .7;
}

.block:hover {
    border: 3px solid var(--info);
    opacity: 1;
}

.img:nth-child(1) {
    background: var(--img-path1);
    background-repeat: no-repeat;
    background-size: cover;

}

.img:nth-child(2) {
    background: var(--img-path2);
    background-repeat: no-repeat;
    background-size: cover;
}

.img:nth-child(3) {
    background: var(--img-path3);
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    transition: .8s ease-out;
}

.img:hover {
    transform: rotate(-.4deg);
    transition: transform .6s ease-in;
}

img {
    width: 230px;
    height: 240px;
    margin-top: 10px;
    margin-right: 20px;
    float: left;
    border-radius: 20px;
}

footer {
    background: var(--navbar);
    height: 70px;
    width: var(--full-width);
    padding: var(--inner);
    position: var(--relt);
    bottom: 0px !important;
}

.copy {
    color: var(--light);
    font-size: 1.1em;
    text-shadow: -1.5px -1.5px 0 var(--dented);
}

.txt-center {
    text-align: center;
}

@media screen and (max-width: 980px) {
    .main-container {
        width: 100%;
        max-width: 1200px;
    }

    a .block {
        width: 100%;
    }

    .navbar-collapse {
        margin-left: auto;
        background: var(--navbar);
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        width: 100%;
    }

    .navbar-collapse {
        margin-left: auto;
        background: var(--navbar);
        border: none;
    }

    .fitted {
        margin-left: -20px !important;
        margin-right: -20px !important;
    }

    a .block {
        border-radius: var(--radi-all);
        width: 100%;
    }

    @media screen and (min-width: 767px) {
        .main-container {
            width: 100%;
            min-width: 980px;
        }

        .navbar-collapse {
            margin-left: auto;
            background: var(--navbar);
            border: none;
        }

        p span {
            font-size: .7em;
        }
    }

    @media screen and (max-width: 640px) {
        .main-container {
            width: 100%;
            margin-top: 200px;
            margin-left: 0;
        }

        #logo {
            margin-left: auto;
        }

        .navbar-collapse {
            margin-left: auto;
            background: var(--navbar);
            border: none;
        }

        .title span {
            line-height: normal !important;
        }

        a .block {
            border-radius: var(--radi-all);
            width: 100%;
        }
    }
