
@import url("../icomoon/style.css");

* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    margin: 0;
    padding: 0;
    background-image: url("../images/background5.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar {
    background-color: rgb(80, 20, 77);
    box-shadow: 1px 1px 10px 1px rgb(116, 67, 98);
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 10px;
    position: relative;
}

#logo {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    margin-left: 200px;
}

.navbar-collapse {
    margin-left: 425px;
}

a {
    color: white !important;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: transparent !important;
}

.icons {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
.card {
    position: relative;
    width: 170px;
    /* background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b); */
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 14px;
    text-align: center;
    overflow: hidden;
}
.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.03);
    pointer-events: none;
    z-index: 1;
}
.percent {
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 0 0 50px #000;
    background: #222;
    z-index: 1000;
}
.number {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.number h2 {
    color: #777;
    font-size: 25px;
    font-weight: 600;
}
.number h2 span {
    font-size: 15px;
    color: #777;
}
.texti {
    position: relative;
    color: #777;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

svg {
    position: relative;
    width: 110px;
    height: 110px;
    z-index: 1000;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}
svg circle:nth-child(2){
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
}
.card:nth-child(1) svg circle:nth-child(2){
    stroke:#ff04f7;
    stroke-dashoffset: calc(315 - (315*80) / 100);
}
.card:nth-child(2) svg circle:nth-child(2){
    stroke:#ff04f7;
    stroke-dashoffset: calc(400 - (400*75) / 100);
}


h1, h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 5px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

hr {
    height: 2px;
    border-radius: 10px;
    background: rgb(141, 140, 140);
    box-shadow: 1px 1px 5px 1px rgb(201, 99, 116);
}

.photoID {
    width: 230px;
    height: 240px;
    margin-top: 10px;
    margin-right: 20px;
    float: left;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

.text {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#info {
    width: 1200px;
    margin: auto;
}


.result {
    width: 250px;
    height: 125px;
    /* background-image: url("../images/Screenshot\ KRAVE.png") no-repeat; */
}

/* .result:hover {
    background-image: url("../images/Screenshot\ Result.png") no-repeat;
} */

h5 {
    color: white;
    display: inline-block;
    margin-right: 50px;
    padding: 10px;
    line-height: 20px;
}

.col-lg-4, .col-lg-8 {
    z-index: -1;
    }
    
.progress-bar {
    background-color: purple;
}

@media screen and (max-width: 980px) {
    .main-container {
        width: 100%;
        margin-top: 200px;
    }
    .navbar-collapse {
        margin-left: auto;
        background: rgb(61, 28, 57);
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        width: 100%;
        margin-top: 200px;
    }
    .navbar-collapse {
        margin-left: auto;
        background:  rgb(61, 28, 57);
        border: none;
    }
}

@media screen and (max-width: 640px) {
    .main-container {
        width: 100%;
        margin-top: 200px;
    }
    #logo {
        margin-left: auto;
    }
    .navbar-collapse {
        margin-left: auto;
        background:  rgb(61, 28, 57);
        border: none;
    }
}




